<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select User Type</title>
    
    <!-- Link to external stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <!-- "X" Reset Button -->
    <a href="/" class="reset-btn">X</a>
    
    <h1>Are you a student or staff?</h1>
    <form action="/name" method="POST">
        <button name="user_type" value="Student">Student</button>
        <button name="user_type" value="Staff">Staff</button>
        <button type="submit" name="user_type" value="Visitor" class="user-btn">Visitor</button>
    </form>
</body>
</html>